LevelConfigTemplate.txt gs com.hifun.soul.gameserver.level.template.LevelConfigTemplateVO //等级配置
GameFuncTemplate.txt gs com.hifun.soul.gameserver.function.template.GameFuncTemplateVO //功能模版
DirtyWordsTemplate.txt core com.hifun.soul.common.model.template.DirtyWordsTemplateVO //脏话模版
NameDirtyWordsTemplate.txt core com.hifun.soul.common.model.template.NameDirtyWordsTemplateVO //名字过滤模版
SceneTemplate.txt gs com.hifun.soul.gameserver.scene.template.SceneTemplateVO //区域配置
EquipItemTemplate.txt gs com.hifun.soul.gameserver.item.template.EquipItemTemplateVO //装备物品模版
MaterialItemTemplate.txt gs com.hifun.soul.gameserver.item.template.MaterialItemTemplateVO //材料物品模版
ConsumeItemTemplate.txt gs com.hifun.soul.gameserver.item.template.ConsumeItemTemplateVO //消耗物品模版
MallTemplate.txt gs com.hifun.soul.gameserver.mall.template.MallTemplateVO //商城模版
ShopTemplate.txt gs com.hifun.soul.gameserver.shop.template.ShopTemplateVO //商店模版
QuestTemplate.txt gs com.hifun.soul.gameserver.human.quest.template.QuestTemplateVO //主线任务模版
BuildingTemplate.txt gs com.hifun.soul.gameserver.building.template.BuildingTemplateVO //建筑模版
BuildingFuncTemplate.txt gs com.hifun.soul.gameserver.building.template.BuildingFuncTemplateVO //建筑功能模版
BuildingUpgradeTemplate.txt gs com.hifun.soul.gameserver.building.template.BuildingUpgradeTemplateVO //建筑升级模版
BuildingUpgradeRatioTemplate.txt gs com.hifun.soul.gameserver.building.template.BuildingUpgradeRatioTemplateVO //建筑升级系数模版
CharacterOccupationTemplate.txt gs com.hifun.soul.gameserver.human.occupation.template.CharacterOccupationTemplateVO //角色职业模版
CharacterOccupationInitProp.txt gs com.hifun.soul.gameserver.human.occupation.template.CharacterOccupationInitPropVO //角色职业基础属性模版
CharacterPropConverterRate.txt gs com.hifun.soul.gameserver.human.occupation.template.CharacterPropConverterRateVO //角色职业一二级属性转化率
CdTemplate.txt gs com.hifun.soul.gameserver.cd.template.CdTemplateVO //cd模版
CdTiredTemplate.txt gs com.hifun.soul.gameserver.cd.template.CdTiredTemplateVO //cd疲劳度模版
LevyCostTemplate.txt gs com.hifun.soul.gameserver.levy.template.LevyCostTemplateVO //购买征税次数消耗模版
TimesTemplate.txt gs com.hifun.soul.gameserver.timetask.template.TimesTemplateVO //时间点模版
TimeTasksTemplate.txt gs com.hifun.soul.gameserver.timetask.template.TimeTasksTemplateVO //时间点任务模版
StageTemplate.txt gs com.hifun.soul.gameserver.stage.template.StageTemplateVO //关卡配置模版
RankTemplate.txt gs com.hifun.soul.gameserver.rank.template.RankTemplateVO //排行榜模板
RankRewardTemplate.txt gs com.hifun.soul.gameserver.rank.template.RankRewardTemplateVO //排行榜奖励模板
HoroscopeGambleTemplate.txt gs com.hifun.soul.gameserver.horoscope.template.HoroscopeGambleTemplateVO //占星师赌博模版
HoroscopeTemplate.txt gs com.hifun.soul.gameserver.horoscope.template.HoroscopeTemplateVO //星运模版
HoroscopeTypeTemplate.txt gs com.hifun.soul.gameserver.horoscope.template.HoroscopeTypeTemplateVO //运魂类型模版
EquipUpgradeTemplate.txt gs com.hifun.soul.gameserver.item.template.EquipUpgradeTemplateVO //装备强化模版
GemUpgradeTemplate.txt gs com.hifun.soul.gameserver.gem.template.GemUpgradeTemplateVO //宝石合成模板
MagicPaperUpgradeTemplate.txt gs com.hifun.soul.gameserver.gem.template.MagicPaperUpgradeTemplateVO //灵图合成模板
GiftChipTemplate.txt gs com.hifun.soul.gameserver.gem.template.GiftChipTemplateVO //天赋碎片合成模板
SkillTemplate.txt gs com.hifun.soul.gameserver.skill.template.SkillTemplateVO //技能
SkillSlotTemplate.txt gs com.hifun.soul.gameserver.skill.template.SkillSlotTemplateVO //技能栏位
EquipMakeTemplate.txt gs com.hifun.soul.gameserver.item.template.EquipMakeTemplateVO //装备打造模板
TechnologyTemplate.txt gs com.hifun.soul.gameserver.technology.template.TechnologyTemplateVO //科技模板
TechnologyLevelUpTemplate.txt gs com.hifun.soul.gameserver.technology.template.TechnologyLevelUpTemplateVO //科技升级模板
TrainingTypeTemplate.txt gs com.hifun.soul.gameserver.training.template.TrainingTypeTemplateVO //普通训练类型模板
TrainingTemplate.txt gs com.hifun.soul.gameserver.training.template.TrainingTemplateVO //训练模板
CrystalExchangeConsumeTemplate.txt gs com.hifun.soul.gameserver.crystalexchange.template.CrystalExchangeConsumeTemplateVO //魔晶兑换消耗模版
CrystalExchangeRewardTemplate.txt gs com.hifun.soul.gameserver.crystalexchange.template.CrystalExchangeRewardTemplateVO //魔晶兑换奖励模版
LoginRewardTemplate.txt gs com.hifun.soul.gameserver.loginreward.template.LoginRewardTemplateVO //登录奖励模版
LoginSpecialRewardTemplate.txt gs com.hifun.soul.gameserver.loginreward.template.LoginSpecialRewardTemplateVO //登录特殊奖励模版
LoginRewardTimeTemplate.txt gs com.hifun.soul.gameserver.loginreward.template.LoginRewardTimeTemplateVO //登录奖励次数模版
OnLineRewardTemplate.txt gs com.hifun.soul.gameserver.onlinereward.template.OnlineRewardTemplateVO //在线奖励模版
DailyQuestRewardTemplate.txt gs com.hifun.soul.gameserver.human.quest.daily.template.DailyQuestRewardTemplateVO //日常任务积分奖励
TurntableTemplate.txt gs com.hifun.soul.gameserver.turntable.template.TurntableTemplateVO //转盘模版
MonsterTemplate.txt gs com.hifun.soul.gameserver.monster.template.MonsterTemplateVO //怪物模版
GuideTemplate.txt gs com.hifun.soul.gameserver.guide.template.GuideTemplateVO //新手引导模版
ComboTemplate.txt gs com.hifun.soul.gameserver.battle.template.ComboTemplateVO //combo配置
StageTemplate.txt gs com.hifun.soul.gameserver.stage.template.StageTemplateVO //关卡模版
StageMapTemplate.txt gs com.hifun.soul.gameserver.stage.template.StageMapTemplateVO //关卡地图模版
StageRewardTemplate.txt gs com.hifun.soul.gameserver.stage.template.StageRewardTemplateVO //关卡通用奖励模版
StageRewardConsumeTemplate.txt gs com.hifun.soul.gameserver.stage.template.StageRewardConsumeTemplateVO //关卡通用奖励消耗模版
StagePassRewardTemplate.txt gs com.hifun.soul.gameserver.stage.template.StagePassRewardTemplateVO //通关奖励模版
StageDramaTemplate.txt gs com.hifun.soul.gameserver.stage.template.StageDramaTemplateVO //剧情模版
HumanLevelUpTemplate.txt gs com.hifun.soul.gameserver.human.template.HumanLevelUpTemplateVO //角色升级模版
VipPrivilegeTemplate.txt gs com.hifun.soul.gameserver.vip.template.VipPrivilegeTemplateVO //VIP特权模版
VipTrainingTypeTemplate.txt gs com.hifun.soul.gameserver.training.template.VipTrainingTypeTemplateVO //Vip训练模板
RechargeTemplate.txt gs com.hifun.soul.gameserver.recharge.template.RechargeTemplateVO //充值奖励模板
QuestionAnswerTemplate.txt gs com.hifun.soul.gameserver.activity.question.template.QuestionAnswerTemplateVO //问答模板
QuestionScoreExchangeTemplate.txt gs com.hifun.soul.gameserver.activity.question.template.QuestionScoreExchangeTemplateVO //问答积分兑换模板
QuestionConsumeTemplate.txt gs com.hifun.soul.gameserver.activity.question.template.QuestionConsumeTemplateVO //问答购买祈福模板
ActivityShowTypeTemplate.txt gs com.hifun.soul.gameserver.activity.template.ActivityShowTypeTemplateVO //活动显示类型模板
ActivityTemplate.txt gs com.hifun.soul.gameserver.activity.template.ActivityTemplateVO //活动模板
HumanGemPropTemplate.txt gs com.hifun.soul.gameserver.human.template.HumanGemPropTemplateVO //角色宝石属性模版
BuffTemplate.txt gs com.hifun.soul.gameserver.skill.buff.template.BuffTemplateVO //buff模版
SpreeTemplate.txt gs com.hifun.soul.gameserver.item.template.SpreeTemplateVO //礼包模版
MainBagUpgradeTemplate.txt gs com.hifun.soul.gameserver.bag.template.MainBagUpgradeTemplateVO //主背包升级花费模版
ArenaConfigTemplate.txt gs com.hifun.soul.gameserver.arena.template.ArenaConfigTemplateVO //竞技场常量配置模版
ArenaBattleRewardTemplate.txt gs com.hifun.soul.gameserver.arena.template.ArenaBattleRewardTemplateVO //竞技场战斗奖励配置模版
NameFirstTemplate.txt gs com.hifun.soul.gameserver.name.template.FirstNameTemplateVO //角色姓氏模版
NameSecondMaleTemplate.txt gs com.hifun.soul.gameserver.name.template.MaleSecondNameTemplateVO //男性角色名字模版
NameSecondFemaleTemplate.txt gs com.hifun.soul.gameserver.name.template.FemaleSecondNameTemplateVO //女性角色名字模版
BuyEnergyCostTemplate.txt gs com.hifun.soul.gameserver.human.template.BuyEnergyCostTemplateVO //购买体力值花费模版
MeditationAssistRewardTemplate.txt gs com.hifun.soul.gameserver.meditation.template.MeditationAssistRewardTemplateVO //冥想协助收益模版
MeditationModeTemplate.txt gs com.hifun.soul.gameserver.meditation.template.MeditationModeTemplateVO //冥想模式
MeditationRewardTemplate.txt gs com.hifun.soul.gameserver.meditation.template.MeditationRewardTemplateVO //冥想收益模版
MeditationAssistPositionTemplate.txt gs com.hifun.soul.gameserver.meditation.template.MeditationAssistPositionTemplateVO //冥想协助位模版
BossTemplate.txt gs com.hifun.soul.gameserver.boss.template.BossTemplateVO //boss模版
BossRankRewardTemplate.txt gs com.hifun.soul.gameserver.boss.template.BossRankRewardTemplateVO //boss排名奖励模版
ItemConstantIdTemplate.txt gs com.hifun.soul.gameserver.item.template.ItemConstantIdTemplateVO //道具常量模版
EliteStageTypeTemplate.txt gs com.hifun.soul.gameserver.elitestage.template.EliteStageTypeTemplateVO //精英副本类型模版
EliteStageTemplate.txt gs com.hifun.soul.gameserver.elitestage.template.EliteStageTemplateVO //精英副本模版
EliteStageStateRefreshCostTemplate.txt gs com.hifun.soul.gameserver.elitestage.template.EliteStageStateRefreshCostTemplateVO //刷新精英副本状态花费模版
CostNotifyTemplate.txt gs com.hifun.soul.gameserver.costnotify.template.CostNotifyTemplateVO //消费提醒模版
RewardPushTemplate.txt gs com.hifun.soul.gameserver.reward.template.RewardPushTemplateVO //奖励推送模版
HoroscopeIntroduceTemplate.txt gs com.hifun.soul.gameserver.horoscope.template.HoroscopeIntroduceTemplateVO //星运介绍模版
SkillScrollTemplate.txt gs com.hifun.soul.gameserver.skill.template.SkillScrollTemplateVO //技能卷轴模版
ResetSkillPointsTemplate.txt gs com.hifun.soul.gameserver.vip.template.ResetSkillPointsTemplateVO //重置技能点模版
SpecialShopTemplate.txt gs com.hifun.soul.gameserver.shop.template.SpecialShopTemplateVO //神秘商店
MineConsumeTemplate.txt gs com.hifun.soul.gameserver.mine.template.MineConsumeTemplateVO //矿场消费模版
MineFieldRateTemplate.txt gs com.hifun.soul.gameserver.mine.template.MineFieldRateTemplateVO //矿坑出现概率模版
MineFieldTypeTemplate.txt gs com.hifun.soul.gameserver.mine.template.MineFieldTypeTemplateVO //矿坑类型模版
MineLevelTemplate.txt gs com.hifun.soul.gameserver.mine.template.MineLevelTemplateVO //矿坑收益成长模版
RefreshSpecialShopTemplate.txt gs com.hifun.soul.gameserver.vip.template.RefreshSpecialShopTemplateVO //刷新神秘商店模版
MagicStoneTemplate.txt gs com.hifun.soul.gameserver.levy.template.MagicStoneTemplateVO //魔法石模版
MagicStoneCollectConsumeTemplate.txt gs com.hifun.soul.gameserver.levy.template.MagicStoneCollectConsumeTemplateVO //收集魔法石花费模版
LevyAuraTemplate.txt gs com.hifun.soul.gameserver.levy.template.LevyAuraTemplateVO //税收通灵收益模版
HelperTemplate.txt gs com.hifun.soul.gameserver.helper.template.HelperTemplateVO //小助手模版
StageStarTemplate.txt gs com.hifun.soul.gameserver.stagestar.template.StageStarTemplateVO //关卡评星模版
StageStarCdTemplate.txt gs com.hifun.soul.gameserver.stagestar.template.StageStarCdTemplateVO //关卡评星与cd时间减免模版
BattlePopTemplate.txt gs com.hifun.soul.gameserver.battle.template.BattlePopTemplateVO //战斗泡泡
HonourShopTemplate.txt gs com.hifun.soul.gameserver.honourshop.template.HonourShopTemplateVO //荣誉商店
EquipMakeGuideTemplate.txt gs com.hifun.soul.gameserver.item.template.EquipMakeGuideTemplateVO //装备制作引导
StageStarRewardTemplate.txt gs com.hifun.soul.gameserver.stage.template.StageStarRewardTemplateVO //关卡评星奖励模版
GiftTemplate.txt gs com.hifun.soul.gameserver.gift.template.GiftTemplateVO //天赋模版
GiftLevelTemplate.txt gs com.hifun.soul.gameserver.gift.template.GiftLevelTemplateVO //天赋升级模版
ItemForgeTemplate.txt gs com.hifun.soul.gameserver.item.template.ItemForgeTemplateVO //灵石洗炼
FosterModeTemplate.txt gs com.hifun.soul.gameserver.foster.template.FosterModeTemplateVO //培养模式模版
FosterCostTemplate.txt gs com.hifun.soul.gameserver.foster.template.FosterCostTemplateVO //培养花费模版
FosterCoinCostTemplate.txt gs com.hifun.soul.gameserver.foster.template.FosterCoinCostTemplateVO //培养金币消耗模版
FosterMaxTemplate.txt gs com.hifun.soul.gameserver.foster.template.FosterMaxTemplateVO //培养上限模版
FosterAttributeTemplate.txt gs com.hifun.soul.gameserver.foster.template.FosterAttributeTemplateVO //培养属性模版
RefineMapTemplate.txt gs com.hifun.soul.gameserver.refine.template.RefineMapTemplateVO //试炼地图模版
RefineStageTemplate.txt gs com.hifun.soul.gameserver.refine.template.RefineStageTemplateVO //试炼关卡模版
RefineCostTemplate.txt gs com.hifun.soul.gameserver.vip.template.RefineCostTemplateVO //试炼塔消耗模版
SkillDevelopTypeTemplate.txt gs com.hifun.soul.gameserver.skill.template.SkillDevelopTypeTemplateVO //技能发展类型模版
MatchBattleConfigTemplate.txt gs com.hifun.soul.gameserver.matchbattle.template.MatchBattleConfigTemplateVO //匹配战配置模版
MatchBattleRewardTemplate.txt gs com.hifun.soul.gameserver.matchbattle.template.MatchBattleRewardTemplateVO //匹配战战斗奖励模版
MatchBattleStreakWinTemplate.txt gs com.hifun.soul.gameserver.matchbattle.template.MatchBattleStreakWinTemplateVO //匹配战连胜奖励模版
MatchBattleRankRewardTemplate.txt gs com.hifun.soul.gameserver.matchbattle.template.MatchBattleRankRewardTemplateVO //匹配战排行奖励模版
BetaUserTemplate.txt gs com.hifun.soul.gameserver.betareward.template.BetaUserTemplateVO //封测用户模版
BetaRewardTemplate.txt gs com.hifun.soul.gameserver.betareward.template.BetaRewardTemplateVO //封测用户奖励模版
ItemForgeRandomTemplate.txt gs com.hifun.soul.gameserver.item.template.ItemForgeRandomTemplateVO //物品洗练随机属性的概率
RefineRefreshCostTemplate.txt gs com.hifun.soul.gameserver.vip.template.RefineRefreshCostTemplateVO //试炼塔刷新消耗模版
FuncHelperTemplate.txt gs com.hifun.soul.gameserver.functionhelper.template.FuncHelperTemplateVO //功能助手模板
FuncCategoryTemplate.txt gs com.hifun.soul.gameserver.functionhelper.template.FuncCategoryTemplateVO //功能助手分类模板
FuncHelperMapTemplate.txt gs com.hifun.soul.gameserver.functionhelper.template.FuncHelperMapTemplateVO //功能助手分类映射模板
WarriorChallengeRewardTemplate.txt gs com.hifun.soul.gameserver.warrior.template.WarriorChallengeRewardTemplateVO //勇士之路奖励模板
WarriorQuestTemplate.txt gs com.hifun.soul.gameserver.warrior.template.WarriorQuestTemplateVO //勇士之路任务模板
ArenaBuyTimeCostTemplate.txt gs com.hifun.soul.gameserver.vip.template.ArenaBuyTimeCostTemplateVO //竞技场购买次数消耗模版
TurntableCostTemplate.txt gs com.hifun.soul.gameserver.vip.template.TurntableCostTemplateVO //魔晶抽奖次数消耗模版
RechargeTXTemplate.txt gs com.hifun.soul.gameserver.rechargetx.template.RechargeTXTemplateVO //腾讯充值模版
YearYellowVipRewardTemplate.txt gs com.hifun.soul.gameserver.yellowvip.template.YearYellowVipRewardTemplateVO //年费黄钻奖励模板
YellowVipDailyRewardTemplate.txt gs com.hifun.soul.gameserver.yellowvip.template.YellowVipDailyRewardTemplateVO //黄钻每日奖励模板
YellowVipLevelUpRewardTemplate.txt gs com.hifun.soul.gameserver.yellowvip.template.YellowVipLevelUpRewardTemplateVO //黄钻升级奖励模板
YellowVipOnceRewardTemplate.txt gs com.hifun.soul.gameserver.yellowvip.template.YellowVipOnceRewardTemplateVO //黄钻新手奖励模板
HumanTitleTemplate.txt gs com.hifun.soul.gameserver.title.template.HumanTitleTemplateVO //角色军衔列表模板
LegionRightTemplate.txt gs com.hifun.soul.gameserver.legion.template.LegionRightTemplateVO //军团权限模板
LegionPositionTemplate.txt gs com.hifun.soul.gameserver.legion.template.LegionPositionTemplateVO //军团职位模板
LegionLevelTemplate.txt gs com.hifun.soul.gameserver.legion.template.LegionLevelTemplateVO //军团等级模板
LegionConstantsTemplate.txt gs com.hifun.soul.gameserver.legion.template.LegionConstantsTemplateVO //军团常量模板
LegionMeditationBuildingTemplate.txt gs com.hifun.soul.gameserver.legion.template.LegionMeditationBuildingTemplateVO //军团冥想建筑模板
LegionMeditationTemplate.txt gs com.hifun.soul.gameserver.legion.template.LegionMeditationTemplateVO //军团冥想方式模板 
LegionMeditationLevelTemplate.txt gs com.hifun.soul.gameserver.legion.template.LegionMeditationLevelTemplateVO //军团冥想等级模板
LegionTechnologyBuildingTemplate.txt gs com.hifun.soul.gameserver.legion.template.LegionTechnologyBuildingTemplateVO //军团科技建筑模板
LegionTechnologyTypeTemplate.txt gs com.hifun.soul.gameserver.legion.template.LegionTechnologyTypeTemplateVO //军团科技类型模板
LegionTechnologyTemplate.txt gs com.hifun.soul.gameserver.legion.template.LegionTechnologyTemplateVO //军团科技模板 
LegionShopBuildingTemplate.txt gs com.hifun.soul.gameserver.legion.template.LegionShopBuildingTemplateVO //军团商店建筑模板
LegionShopTemplate.txt gs com.hifun.soul.gameserver.legion.template.LegionShopTemplateVO //军团商店物品模板
LegionHonorBuildingTemplate.txt gs com.hifun.soul.gameserver.legion.template.LegionHonorBuildingTemplateVO //军团荣誉建筑模板
LegionHonorTemplate.txt gs com.hifun.soul.gameserver.legion.template.LegionHonorTemplateVO //军团荣誉建筑模板
LegionTaskBuildingTemplate.txt gs com.hifun.soul.gameserver.legion.template.LegionTaskBuildingTemplateVO //军团赏金建筑模板
LegionTaskTemplate.txt gs com.hifun.soul.gameserver.legion.template.LegionTaskTemplateVO //军团赏金任务模板
LegionTaskRankTemplate.txt gs com.hifun.soul.gameserver.legion.template.LegionTaskRankTemplateVO //军团赏金任务排行奖励模板
LegionFuncTemplate.txt gs com.hifun.soul.gameserver.legion.template.LegionFuncTemplateVO //军团子功能开启模板
EquipBitLevelTemplate.txt gs com.hifun.soul.gameserver.godsoul.template.EquipBitLevelTemplateVO //神魄装备位等级模板
EquipBitPropertyAmendTemplate.txt gs com.hifun.soul.gameserver.godsoul.template.EquipBitPropertyAmendTemplateVO //神魄装备位属性加成模板
MagicPaperLevelTemplate.txt gs com.hifun.soul.gameserver.godsoul.template.MagicPaperLevelTemplateVO //神魄灵图等级模板
EquipBitBuffTemplate.txt gs com.hifun.soul.gameserver.godsoul.template.EquipBitBuffTemplateVO //神魄装备位buff模板
MagicPaperBuffTemplate.txt gs com.hifun.soul.gameserver.godsoul.template.MagicPaperBuffTemplateVO //神魄灵图buff模板
PrisonBuyArrestNumTemplate.txt gs com.hifun.soul.gameserver.vip.template.PrisonBuyArrestNumTemplateVO //战俘营购买抓捕次数消费模板
PrisonExperienceTemplate.txt gs com.hifun.soul.gameserver.prison.template.PrisonExperienceTemplateVO //战俘营经验模板
StageStrongholdTemplate.txt gs com.hifun.soul.gameserver.stage.template.StageStrongholdTemplateVO //关卡据点模板
AbattoirRoomTemplate.txt gs com.hifun.soul.gameserver.abattoir.template.AbattoirRoomTemplateVO //角斗场房间模板
AbattoirBuyNumCostTemplate.txt gs com.hifun.soul.gameserver.vip.template.AbattoirBuyNumCostTemplateVO //角斗场购买角斗次数模板
DailyQuestBuyNumCostTemplate.txt gs com.hifun.soul.gameserver.vip.template.DailyQuestBuyNumCostTemplateVO //日常任务购买次数模板
SpritePubCertainWinCostTemplate.txt gs com.hifun.soul.gameserver.vip.template.SpritePubCertainWinCostTemplateVO //精灵酒馆必胜次数消耗模版
SpriteTemplate.txt gs com.hifun.soul.gameserver.sprite.template.SpriteTemplateVO //精灵模板
SpriteCostTemplate.txt gs com.hifun.soul.gameserver.sprite.template.SpriteCostTemplateVO //精灵模板
SpriteRecruitTemplate.txt gs com.hifun.soul.gameserver.sprite.template.SpriteRecruitTemplateVO //精灵招募模板
BloodTempleRoomTemplate.txt gs com.hifun.soul.gameserver.bloodtemple.template.BloodTempleRoomTemplateVO //嗜血神殿房间模板
BloodTempleBuyNumCostTemplate.txt gs com.hifun.soul.gameserver.vip.template.BloodTempleBuyNumCostTemplateVO //嗜血神殿购买抢夺次数模板
SpriteLevelupTemplate.txt gs com.hifun.soul.gameserver.sprite.template.SpriteLevelupTemplateVO //精灵升级模板
SpriteStarMapTemplate.txt gs com.hifun.soul.gameserver.sprite.template.SpriteStarMapTemplateVO //精灵星图模板
SpriteBuffTemplate.txt gs com.hifun.soul.gameserver.sprite.template.SpriteBuffTemplateVO //精灵buff模板
SpriteSignTemplate.txt gs com.hifun.soul.gameserver.sprite.template.SpriteSignTemplateVO //精灵星座模板
RechargeActivityTimeTemplate.txt gs com.hifun.soul.gameserver.recharge.template.RechargeActivityTimeTemplateVO //充值活动时间模板
FirstRechargeTemplate.txt gs com.hifun.soul.gameserver.recharge.template.FirstRechargeTemplateVO //首充奖励模板
SingleRechargeTemplate.txt gs com.hifun.soul.gameserver.recharge.template.SingleRechargeTemplateVO //单笔充值奖励模板
TotalRechargeTemplate.txt gs com.hifun.soul.gameserver.recharge.template.TotalRechargeTemplateVO //累计充值奖励模板
SkillOccupationTemplate.txt gs com.hifun.soul.gameserver.skill.template.SkillOccupationTemplateVO //职业技能模版
FactionTemplate.txt gs com.hifun.soul.gameserver.faction.template.FactionTemplateVO //阵营模版
MarsBuyMultipleNumCostTemplate.txt gs com.hifun.soul.gameserver.vip.template.MarsBuyMultipleNumCostTemplateVO //战神之巅购买加倍次数模板
MarsFieldTemplate.txt gs com.hifun.soul.gameserver.mars.template.MarsFieldTemplateVO //战神之巅战场级别模板
MarsRoomTemplate.txt gs com.hifun.soul.gameserver.mars.template.MarsRoomTemplateVO //战神之巅房间品质模板
MarsBattleRewardTemplate.txt gs com.hifun.soul.gameserver.mars.template.MarsBattleRewardTemplateVO //战神之巅战斗奖励模板
MarsBetTemplate.txt gs com.hifun.soul.gameserver.mars.template.MarsBetTemplateVO //战神之巅下注加倍模板
TargetTemplate.txt gs com.hifun.soul.gameserver.target.template.TargetTemplateVO //个人目标模板
LegionBossTemplate.txt gs com.hifun.soul.gameserver.legionboss.template.LegionBossTemplateVO //军团boss战模版
LegionMineConstantsTemplate.txt gs com.hifun.soul.gameserver.legionmine.template.LegionMineConstantsTemplateVO //军团矿战常量模板
LegionMineTypeTemplate.txt gs com.hifun.soul.gameserver.legionmine.template.LegionMineTypeTemplateVO //军团矿战矿位类型模板
LegionMineRichRateTemplate.txt gs com.hifun.soul.gameserver.legionmine.template.LegionMineRichRateTemplateVO //军团矿战矿位富裕度模板
LegionMineSurroundStateTemplate.txt gs com.hifun.soul.gameserver.legionmine.template.LegionMineSurroundStateTemplateVO //军团矿战矿位包围状态模板
LegionBufTemplate.txt gs com.hifun.soul.gameserver.legionmine.template.LegionBufTemplateVO //军团矿战军团buf模板
LegionMineSelfBufTemplate.txt gs com.hifun.soul.gameserver.legionmine.template.LegionMineSelfBufTemplateVO //军团矿战个人buf模板
LegionMineRewardTemplate.txt gs com.hifun.soul.gameserver.legionmine.template.LegionMineRewardTemplateVO //军团矿战奖励模板
LegionMineBattleRewardTemplate.txt gs com.hifun.soul.gameserver.legionmine.template.LegionMineBattleRewardTemplateVO //军团矿战战斗胜利奖励模板
LegionMineTemplate.txt gs com.hifun.soul.gameserver.legionmine.template.LegionMineTemplateVO //军团矿战矿位分布模板
LevyCertainWinCostTemplate.txt gs com.hifun.soul.gameserver.levy.template.LevyCertainWinCostTemplateVO //税收押注必胜消耗模板
LevyBetRevenueTemplate.txt gs com.hifun.soul.gameserver.levy.template.LevyBetRevenueTemplateVO //税收押注胜利收益模版
MainCityMonsterTemplate.txt gs com.hifun.soul.gameserver.levy.template.MainCityMonsterTemplateVO //主城怪物模板
EscortBuyRobNumCostTemplate.txt gs com.hifun.soul.gameserver.vip.template.EscortBuyRobNumCostTemplateVO //押运购买打劫次数模板
EscortConstantsTemplate.txt gs com.hifun.soul.gameserver.escort.template.EscortConstantsTemplateVO //押运常量模板
EscortMonsterTemplate.txt gs com.hifun.soul.gameserver.escort.template.EscortMonsterTemplateVO //押运怪物模板
EscortRefreshMonsterRateTemplate.txt gs com.hifun.soul.gameserver.escort.template.EscortRefreshMonsterRateTemplateVO //刷新怪物概率模板
EscortRefreshMonsterCostTemplate.txt gs com.hifun.soul.gameserver.escort.template.EscortRefreshMonsterCostTemplateVO //刷新怪物概率模板
EscortRewardTemplate.txt gs com.hifun.soul.gameserver.escort.template.EscortRewardTemplateVO //押运奖励模板
EscortHelpRewardTemplate.txt gs com.hifun.soul.gameserver.escort.template.EscortHelpRewardTemplateVO //护送奖励模板
EscortRobRewardTemplate.txt gs com.hifun.soul.gameserver.escort.template.EscortRobRewardTemplateVO //拦截奖励模板
EscortRobRankRewardTemplate.txt gs com.hifun.soul.gameserver.escort.template.EscortRobRankRewardTemplateVO //拦截排行奖励模板
PredictTemplate.txt gs com.hifun.soul.gameserver.predict.template.PredictTemplateVO //预见模板
PredictPageTemplate.txt gs com.hifun.soul.gameserver.predict.template.PredictPageTemplateVO //预见页码模板