#macro(upperFirstChar $typeName)$typeName.substring(0,1).toUpperCase()$typeName.substring(1)#end

public class $templateName {
#foreach($field in $fields)
    /** $field.getComment()s */
	protected $field.getTypeName() $field.getName();
#end
	
#foreach($field in $fields)
	public $field.getTypeName() get#upperFirstChar($field.getName())() {
		return $field.getName();
	}
#end

}